<ul class="px-4 divide-gray-600 divide-y">
  <li *ngFor="let route of routes$ | async" class="mb-2">
    <div class="flex justify-between mt-3">
      <span>Aug 27, 2020</span>
      <div class="tag">
        <span
          *ngFor="let tag of route?.tags"
          class="mx-1 p-1 cursor-pointer text-white bg-primary hover:bg-secondary rounded-full"
          >{{ tag }}</span
        >
      </div>
    </div>
    <a [routerLink]="[route.route]" class="font-bold text-2xl hover:text-secondary">{{
      route.title
    }}</a>
    <p>{{ route.description }}</p>
    <a
      [routerLink]="route.route"
      class="text-primary hover:text-secondary font-bold"
      >Read more ...</a
    >
  </li>
</ul>
