.wrapper-me {
  @apply p-4;
}
a {
  ::ng-deep svg {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}
.navigate {
  transform: translateX(-50%);
  @apply absolute -left-center cursor-pointer;
}
