
.icon {
  @apply w-10;
  @apply h-10;
  @apply border;
  @apply border-gray-500;
  @apply justify-center;
  @apply items-center;
  @apply rounded-full;
  @apply flex;
  &:hover {
    border-color: var(--primary);
    color: var(--primary);
  }
  ::ng-deep svg {
    path {
      fill: var(--text-color);
      stroke: var(--text-color);
    }
  }
  &:hover {
    ::ng-deep svg {
      path {
        fill: var(--primary);
        stroke: var(--primary);
      }
    }
  }
}
