.item-right {
  @apply bg-time-line-right;
  &::before {
    content: '';
    width: 0;
    height: 0;
    transform: translateY(-50%);
    @apply absolute -top-center;
    left: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--time-line-right);
  }
}
.item-left {
  @apply bg-time-line-left;
  &::before {
    content: '';
    width: 0;
    height: 0;
    transform: translateY(-50%);
    @apply absolute -top-center;
    right: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--time-line-left);
  }
}

.orderIndexLeft {
  @apply bg-time-line-left;
}

.orderIndexRight {
  @apply bg-time-line-right;
}
