<div class="wrapper p-4">
  <div class="avatar flex justify-start pt-2 mb-2">
    <div
      *ngIf="{ hasUpdate: hasUpdate$ | async } as vm"
      class="wrapper-avatar"
      [attr.data-tooltip]="
        vm.hasUpdate ? 'New version available 🚀' : 'Nguyen Dai'
      "
      [class.has-new-version]="vm.hasUpdate"
      (click)="reload(vm.hasUpdate)"
    >
      <ng-container
        *ngIf="!vm.hasUpdate"
        [ngTemplateOutlet]="tmplNoNewVersion"
        [ngTemplateOutletContext]="{ vm: vm }"
      >
      </ng-container>
      <ng-container
        *ngIf="vm.hasUpdate"
        [ngTemplateOutlet]="tmplNewVersion"
        [ngTemplateOutletContext]="{ vm: vm }"
      >
      </ng-container>
    </div>
  </div>
  <div class="name">Nguyen Dai Developer</div>
  <div class="text-sm">
    I am a developer who is highly interested in TypeScript. My tech stack has
    been full-stack TS such as Angular, React with TypeScript and NestJS.
  </div>
  <app-navigation></app-navigation>
  <app-social-icon></app-social-icon>
  <app-copy-right></app-copy-right>
</div>

<ng-template #tmplNoNewVersion let-vm="vm">
  <img
    class="rounded-full w-16"
    [class.pointer-events-none]="!vm.hasUpdate"
    [class.cursor-pointer]="vm.hasUpdate"
    src="assets/avatar.jpeg"
    alt=""
  />
</ng-template>

<ng-template #tmplNewVersion let-vm="vm">
  <abbr
    title="
Click here to download a new version"
  >
    <img
      class="rounded-full w-16"
      [class.pointer-events-none]="!vm.hasUpdate"
      [class.cursor-pointer]="vm.hasUpdate"
      src="assets/avatar.jpeg"
      alt=""
    /> </abbr
></ng-template>
