<div class="lg:container mx-auto px-4 pt-6">
  <div class="grid grid-cols-12 gap-2"> 
    <div class="left-side xs:col-span-12 md:col-span-4 shadow-common relative">
      <app-toggle-theme></app-toggle-theme>
      <app-side></app-side>
    </div>
    <div class="xs:col-span-12 md:col-span-8 shadow-common mb-8 relative">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>









<!-- <div class="bg-blue-500 bg-opacity-100 text-white">dadasad</div>


<h1 class="my-8 text-center text-6xl font-bold"><span class="text-teal-500">TailwindCSS</span> and <span class="text-red-600">Angular</span> is awesome!</h1>
<p class="text-center text-3xl">Thanks for reading!</p>

<ul>
  <li *ngFor="let route of routes$ | async">
    <a
      [routerLink]="[route.route]"
      class="bg-cs_red"
      >{{ route.title }}</a
    >
  </li>
</ul> -->
